@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: white;
}
:root {
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}